@*@model IEnumerable<DatabaseFirst.Models.Cargo>

@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@*@*@{*@*@
//    ViewData["Title"] = "Mi Restaurante";
//}

//<h2>Restaurante</h2>
//<h2>la tuya</h2>

//using (Html.BeginForm("Index", "Cargo"))
//{
//    <div>
//        <div class=" row">
//            <div class="form-group col-lg-6">
//                <input type="text" class="form-control" name="Id" id="txtName" placeholder="Insert Employee ID" />
//                <button class="btn btn-success" type="submit">Get Employees</button>
//                <p class="text-warning">@ViewBag.Warning</p>
//            </div>
//            <div class=" col-md-12">
//                <table class="table-">
//                    <tr>
//                        <th>#</th>
//                        <th>Nombre</th>
//                        <th>Salario</th>
//                        <th>Trabajadors</th>
//                    </tr>
                   @* @foreach (var oElemento in Model)
                    {
                        <tr>
                            <td>@oElemento.Id</td>
                            <td>@oElemento.Nombre</td>
                            <td>@oElemento.Salario</td>
                            
                        </tr>
                    }*@
    //   
